/** {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}*/

/** {
    border: 1px solid red !important;
}*/

name{
    
    height: 50px;
    font-size: 55px;
    color: darkturquoise;
    color:deepskyblue;
    color:dodgerblue;
	font-family: Veranda, sans-serif;
    
}
.MainHeader{
    height: 65px;
}
job{
    font-size: 25px;
    font-family: Verdana, Geneva, sans-serif;
    color:darkslateblue;
    color:darkgray;
}
.side{
    display: flex;
    flex-wrap: wrap;
}
.tablejava{
    display: flex;
    flex-wrap: wrap;
}
.tablepython{
    display: flex;
    flex-wrap: wrap;
}
.tablec{
    display: flex;
    flex-wrap: wrap;
}
body{
    background-color: white;
}
.cproject{
    padding-left: 40px;
    width: 700px;
}
newfont{
    font-family: 'Arial Narrow', Arial, sans-serif;
}
.pythonexp{
    padding-left: 5px;
    width: 650px;
}
.apps{
    padding-left: 25px;
    width: 700px;
}
.myPicture{
    height: auto;
    width: auto;
    background-color:azure;
}
.myResume{
    border-left: 500px;
    height: auto;
    width: auto;
    
}
github{
    font-size: 15px;
}
indent{
    padding-left: 50px;
}
.profile{
    padding-top: 50px;
}
.technical{
    padding-top: 300px;
}
.relatedexperience{
    padding-top: 300px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    margin-top: 120px;
    width: 15%;
    background-color:dimgray;
    height: 30%; /* Full height */
    position: fixed;
    overflow: auto; 
    float: right;
    
}

li a {
    display: block;
    color:aliceblue;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

.active {
    background-color: #4CAF50;
    color: white;
}
li {
    text-align: center;
    border-bottom: 1px solid #555;
   
}

li:last-child {
    border-bottom: none;
}
